html{
    height: 100%;
    width:100%;
    display: table;
}
body{
    width: 95%;
    max-width: 1915px;
    margin: auto;
    background: #000000 url('dojo2.jpg') no-repeat fixed center;
    color: orange;
    display: table-cell;
    vertical-align: middle;
}
h1,h2,h3{
    text-align: center;
}
h1{
    font-size: 300%;
}
div{
    width: 95%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3px;
    border: groove 2px white;
    background-color: rgba(139,126,102,0.8);
}
h2 a:visited,h3 a:visited,a{
    color:orange;
}
table{
    width:99%;
    margin: auto;
}
td{
    text-align: center;
}
iframe{
    width:99%;
    height: 100%;
    margin: auto;
}
.dojo{
    height: 50%;
}
.ecusson img{
    width:150px;
    box-shadow: 2px 2px 2px #000000;
}
.ecusson img:hover{
    /* Chrome, Safari, Opera */
    -webkit-animation-name: myfirst;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    /* Standard syntax */
    animation-name: myfirst;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-play-state: running;
}
#corps{
    width : 80%;
    font-size: 130%;
}
#corps, #corps a, #corps a:visited{
    color:yellow;
    text-shadow: 2px 2px 2px #000000;
}
.dojo{
    display: none;
    border: none;
    background: none;
}
.dojo img{
    width : 30%;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    0%   {box-shadow: 2px 2px 2px #000000;}
    50%  {box-shadow: 3px 3px 5px #000000;}
    100% {box-shadow: 2px 2px 2px #000000;}
}

/* Standard syntax */
@keyframes myfirst {
    0%   {box-shadow: 2px 2px 2px #000000;}
    50%  {box-shadow: 3px 3px 5px #000000;}
    100% {box-shadow: 2px 2px 2px #000000;}
}
